
/* Global Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Theme Variables */
:root {
    --special-text-color: white;
    --border-color: white;
    --a-txt-color: #DFD3E3;
    --Header_background-color: #202020; /* Gray/Black */
    --Body_background-color: SeaGreen;
}


@media (prefers-color-scheme: dark) {
    :root {
        --Body_background-color: darkslategray;
    }
}

/* Body Styles */
body {
    margin: 100px 20px 0;
    width: 80%;
    background-color: var(--Body_background-color);
    color: var(--special-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header Styles */
header {
    background-color: var(--Header_background-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    justify-content: space-between; /* Align items dynamically */
    align-items: center;
    padding: 0 15px;
    box-shadow: 0 0 5px black;
}

header img {
    height: 80px;
    border: none;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
}

header li {
    margin: 0 10px;
}

header li a {
    color: var(--a-txt-color);
    text-decoration: none;
}

header h1 {
    font-size: 1.5em;
    font-family: 'Helvetica', Arial, sans-serif;
    color: var(--a-txt-color);
}

/* Footer Styles */
footer {
    border-top: 1px solid var(--border-color);
    font-size: 0.8em;
    text-align: center;
    margin-top: 40px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 20px;
}

/* General Text and Links */
a {
    color: var(--a-txt-color);
    text-decoration: underline;
    font-family: 'Helvetica', Arial, sans-serif;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 3em;
    font-family: 'Helvetica', Arial, sans-serif;
}

h3 {
    color: var(--a-txt-color);
}

p {
    font-size: 1em;
    line-height: 1.4em;
    text-align: justify;
}

.fulljustify:after {
    content: "";
    display: inline-block;
    width: 100%;
}

/* Banner Section */
#banner {
    margin-bottom: 4em;
}
