<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <div id="Box">
        <div id="Banner">
            <a href="/">
                <img src="/images/logo.png" alt="Logo" height="56"/>
            </a>
        </div>

        <div id="Sidebar">
            <p>By <strong>Dr Chris Dillon</strong></p>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/cv">CV</a></li>
                <li><a href="https://linkedin.com/in/drchrisdillon">LinkedIn</a></li>
            </ul>
        </div>

        <div id="Main">
            <dl class="linkedlist">
                <dt><a href="#">Your main content here</a></dt>
                <dd>{{ content }}</dd>
            </dl>
        </div>
    </div>
</body>
</html>
